<div class="floating-box ui-shadow ui-corner-all">
	<h1 class="center">About My Bike</h1>
	<h2>Bicycle Description</h2>
	<ul data-role="listview" data-inset="true">
		<li data-icon="false">
			<font style="white-space:normal" >
				<table>
					<tr class="{{no serial 'hidden'}}">
						<td><b>Serial Number:</b></td>
						<td>{{serial}}</td>
					</tr>
					<tr class="{{no make 'hidden'}}">
						<td><b>Make:</b></td>
						<td>{{make}}</td>
					</tr>
					<tr class="{{no model 'hidden'}}">
						<td><b>Model:</b></td>
						<td>{{model}}</td>
					</tr>
					<tr class="{{no year 'hidden'}}">
						<td><b>Year:</b></td>
						<td>{{year}}</td>
					</tr>
					<tr class="{{no purchasePlace 'hidden'}}">
						<td><b>Place of Purchase:</b></td>
						<td>{{purchasePlace}}</td>
					</tr>
				</table>
				<br>
				<div class="{{no otherInfo 'hidden'}}">{{otherInfo}}</div>
			</font>
		</li>
	</ul>

	<h2>Bicycle Images</h2>
	<div class="side-by-side-block">
		<img class="medium-pic five-mar" src="{{bikeOwnerPic}}">
		<img class="medium-pic five-mar" src="{{bikePic}}">
		<img class="medium-pic five-mar" src="{{bikeSerialPic}}">
		<img class="medium-pic five-mar" src="{{receiptPic}}">
	</div>

	<h2 class="{{no mine 'hidden'}}">Options</h2>
	<button class="blue-button {{#unless mine}}hidden{{/unless}}" onclick="goSomewhere('#edit-bike-info')">Edit Bike Info</button>
	<button class="blue-button {{no mine 'hidden'}}" onclick="toReport('{{serial}}')">Report Bike Missing/Stolen</button>
	<button class="blue-button {{no mine 'hidden'}}" onclick="toUnregister('{{serial}}','{{model}}')">Transfer/Unregister</button>
</div>
