<div>
	<!-- Text Input Form Fields -->
	<div data-role="fieldcontain">
		<label for="serial-number">Serial Number</label>
		<input type="text" id="serial-number" value={{serial}} "" data-clear-btn="true">
	</div>
	<div data-role="fieldcontain">
		<label for="bike-make">Make</label>
		<input type="text" id="bike-make" value={{make}} "" data-clear-btn="true">
	</div>
	<div data-role="fieldcontain">
		<label for="bike-model">Model</label>
		<input type="text" id="bike-model" value={{model}} "" data-clear-btn="true">
	</div>
	<div data-role="fieldcontain">
		<label for="bike-year">Year</label>
		<input type="text" id="bike-year" value={{year}} "" data-clear-btn="true">
	</div>
	<div data-role="fieldcontain">
		<label for="bike-purchase-place">Place of Purchase</label>
		<input type="text" id="bike-purchase-place" value={{purchasePlace}} "" data-clear-btn="true">
	</div>
	<div data-role="fieldcontain">
		<label for="bike-cost">Cost/Value</label>
		<input type="text" id="bike-cost" value={{value}} "" data-clear-btn="true">
	</div>

	<!-- Photos of the bike -->
	<div id="bike-photos">
		<p>Photo of Owner with Bike</p>
		<div class="medium-pic-container">
			<img id="bikeOwnerPic" picindex="0">
		</div>
		<input id="bikeOwnerButton" type="file" accept="image/*"}>
		<button class="clearFile" onclick="clearFile('bikeOwner')" type="button">X</button>

		<p>Photo of Bike Alone</p>
		<div class="medium-pic-container">
			<img id="bikePic" picindex="1">
		</div>
		<input id="bikeButton" type="file" accept="image/*"}>
		<button class="clearFile" onclick="clearFile('bike')" type="button">X</button>

		<p>Photo of Serial Number</p>
		<div class="medium-pic-container">
			<img id="bikeSerialPic" picindex="2">
		</div>
		<input id="bikeSerialButton" type="file" accept="image/*"}>
		<button class="clearFile" onclick="clearFile('bikeSerial')" type="button">X</button>

		<p>Photo of Receipt</p>
		<div class="medium-pic-container">
			<img id="receiptPic" picindex="3">
		</div>
		<input id="receiptButton" type="file" accept="image/*"}>
		<button class="clearFile" onclick="clearFile('receipt')" type="button">X</button>

	</div>
	<br>
	<label for="additional-info">Additional Information About Bike</label>
	<textarea id="additional-info" id="additional-info">{{otherInfo}}</textarea>

<!-- 	<canvas id="myCanvas" width="200" height="100"
style="border:1px solid #000000;">
</canvas> -->

	<canvas id="canvasBike" width="250" height="141" style="display:none" style="border: 3px solid green;"></canvas>
	<canvas id="canvasBikeOwner" width="250" height="141" style="display:none" style="border: 3px solid green;"></canvas>
	<!-- <div style="display:none" id="canvasDiv">
	</div> -->

	<!-- Crop Photo popup -->
	<div data-role="popup" id="crop-popup" class="popup">
		<img id="pic-to-crop"/>
		<btton onclick="closePopup('crop-popup')" class="ui-btn medium-button blue-button center" >Crop</button>
	</div>

	



</div>
