<div>
	<!-- Text Input Form Fields -->
	<div data-role="fieldcontain">
		<label for="serial-number">Serial Number</label>
		<input type="text" id="serial-number" value={{serial}} "" data-clear-btn="true">
	</div>
	<div data-role="fieldcontain">
		<label for="bike-make">Make</label>
		<input type="text" id="bike-make" value={{make}} "" data-clear-btn="true">
	</div>
	<div data-role="fieldcontain">
		<label for="bike-model">Model</label>
		<input type="text" id="bike-model" value={{model}} "" data-clear-btn="true">
	</div>
	<div data-role="fieldcontain">
		<label for="bike-year">Year</label>
		<input type="text" id="bike-year" value={{year}} "" data-clear-btn="true">
	</div>
	<div data-role="fieldcontain">
		<label for="bike-purchase-place">Place of Purchase</label>
		<input type="text" id="bike-purchase-place" value={{purchasePlace}} "" data-clear-btn="true">
	</div>
	<div data-role="fieldcontain">
		<label for="bike-cost">Cost/Value</label>
		<input type="text" id="bike-cost" value={{value}} "" data-clear-btn="true">
	</div>

	<!-- Photos of the bike -->
	<p>Photo of Owner with Bike</p>
	<img class="center medium-pic">
	<button class="medium-button blue-button center">Insert Picture</button>

	<p>Photo of Bike Alone</p>
	<img class="medium-pic center">
	<button class="medium-button center blue-button">Insert Picture</button>

	<p>Photo of Serial Number</p>
	<img class="medium-pic center">
	<button class="medium-button blue-button center">Insert Picture</button>

	<p>Photo of Receipt</p>
	<img class="medium-pic center">
	<button class="medium-button blue-button center">Insert Picture</button>

	<br>
	<label for="additional-info">Additional Information About Bike</label>
	<textarea id="additional-info" id="additional-info">{{otherInfo}}</textarea>
</div>