<div class="bike-info">
				<!-- Text Input Form Fields -->
				<div data-role="fieldcontain">
					<label for="serial-number">Serial Number</label>
					<input type="text" name="serial-number" value={{serial}} "" data-clear-btn="true">
				</div>
				<div data-role="fieldcontain">
					<label for="bike-make">Make</label>
					<input type="text" name="bike-make" value={{make}} "" data-clear-btn="true">
				</div>
				<div data-role="fieldcontain">
					<label for="bike-model">Model</label>
					<input type="text" name="bike-model" value={{model}} "" data-clear-btn="true">
				</div>
				<div data-role="fieldcontain">
					<label for="bike-year">Year</label>
					<input type="text" name="bike-year" value={{year}} "" data-clear-btn="true">
				</div>
				<div data-role="fieldcontain">
					<label for="bike-purchase-place">Place of Purchase</label>
					<input type="text" name="bike-purchase-place" value={{purchasePlace}} "" data-clear-btn="true">
				</div>
				<div data-role="fieldcontain">
					<label for="bike-cost">Cost/Value</label>
					<input type="text" name="bike-cost" value={{value}} "" data-clear-btn="true">
				</div>

				<!-- Photos of the bike -->
				<p>Photo of Owner with Bike</p>
				<img class="medium-pic center">
				<button class="medium-button blue-button center">Take Picture</button>

				<p>Photo of Bike Alone</p>
				<img class="medium-pic center">
				<button class="medium-button center blue-button">Take Picture</button>

				<p>Photo of Serial Number</p>
				<img class="medium-pic center">
				<button class="medium-button blue-button center">Take Picture</button>

				<p>Photo of Receipt</p>
				<img class="medium-pic center">
				<button class="medium-button blue-button center">Take Picture</button>

				<br>
				<label for="additional-info">Additional Information About Bike</label>
				<textarea name="additional-info" id="additional-info">{{otherInfo}}</textarea>
			</div>