<div>
	<!-- Text Input Form Fields (These will be dynamically replaced with styled input fields)-->
	<div data-role="fieldcontain">
		<label for="le-name">Name:</label>
		<input type="text" id="le-name" value='{{name}}' data-clear-btn="true">
	</div>
	<div data-role="fieldcontain">
		<label for="le-department">Law Enforcement Department:</label>
		<input type="text" id="le-department" value='{{department}}' data-clear-btn="true">
	</div>
	<div data-role="fieldcontain">
		<label for="le-dept-zip">Department Zip Code:</label>
		<input type="text" id="le-dept-zip" value='{{zip}}' data-clear-btn="true">
	</div>
	<div data-role="fieldcontain">
		<label for="le-email">Work Email:</label>
		<input type="text" id="le-email" value='{{workEmail}}' data-clear-btn="true">
	</div>
	<div data-role="fieldcontain">
		<label for="le-work-phone">Work Main Number:</label>
		<input type="text" id="le-work-phone" value='{{workPhone}}' data-clear-btn="true">
	</div>
	<div data-role="fieldcontain">
		<label for="le-cell">Work Cell Number:</label>
		<input type="text" id="le-cell" value='{{workCell}}' data-clear-btn="true">
	</div>
	<div data-role="fieldcontain">
		<label for="le-social-media">Work Social Media:</label>
		<input type="text" id="le-social-media" value='{{workSocialMedia}}'data-clear-btn="true">
	</div>
	
	<!-- You can change your account email or password in your <a href="#settings">Settings</a>. -->
		<br>

</div>